<<<<<<< HEAD
/* Magnus Rambech, Thomas Rognes, Tord Kvifte*/
=======
/*CSS-fil til prosjekt info134 
Skrevet av 100, 128, 170 */

>>>>>>> 86fc034b7c38339f11367362c4e331250545d621
/* Portrait */
@media only screen 
and (min-device-width: 300px) 
and (max-device-width: 320px) 
{ 

	/* Header */

	#header{
		width: 100%;
	}

	.header_headline{
		font-size: 15px;
		margin-top: 5px;
		margin-left: 50px;
		padding: 0;
		text-align: center;
	}

	.search{
		width: 50px;
	}
	
	.search_text{
		width: 50px;
	}

	.header_icon{
		transition: 0.3s;
		width: 35px;
		height: 35px;
		padding: 20px;
	}

	.header_icon:hover{
		width: 40px;
		height: 40px;
		cursor: pointer;
	}
	#header_index {
		display: flex;
		justify-content: space-between;
		background-color: #18121E;
		position: fixed;
		width: 100%;
		height: 14%;
		top: 0;
		z-index: 1;
		box-shadow: 0px 5px 20px black;
		font-family: "Custom";
	}
	.header_headline{
		margin-left: 0px;
	}


	/* Body */
	body{
		padding-bottom: 40px;
	}
	.body_frontpage{
		background: gray;
		padding-bottom: 0;
	}


	.movie_titles{
		font-size: 10px;
		width: 90%;
		text-align: center;
		margin-top: 5px;
		margin-bottom: 0px;
	}
	#otitle{
		margin-top: 10%;
		padding-top: 10%;
		font-size: 15px;
	}
	.movies {
		width:95px;
		height: 140px;
		float: left;
		display: inline;
		margin-bottom: 20px;
	}

	.thumbnails_frontpage{
		width: 80px;
		height: 110px;
		border:2px solid #EAC67A;
		transition: 0.3s;
		box-shadow: 10px 10px 20px  black;

	}

	.thumbnails_frontpage:hover{
		cursor: pointer;
		height: 155px;
		width: 100px;

	}


	#page_content{
		width: 100%;
		margin: 0;
		height: 2630px;
	}

	.body_wrapper{
		height: 100%;
		width: 100%;
		margin-top: 0;
	}

	#mySidenav{
		margin-top: 14%;
	}
	.sidenav {
		height: 89%; /* 100% Full-height */
		width: 0; /* 0 width - change this with JavaScript */
		position: fixed; /* Stay in place */
		z-index: 1; /* 90ay on top */
		top: 0;
		left: 0;
		background-color: #18121E; /* Black*/
		overflow-x: hidden; /* Disable horizontal scroll */
		transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
		box-shadow: 0px 10px 20px black;
		border-radius: 5px;
	}
	.movie_section{
		height: 700px;
	}

	.sidenav .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}
	/*Linkene i sidemenyen */
	.sidenav a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-family: "Custom";
		font-size: 25px;
		color: #EAC67A;
		display: block;
		transition: 0.3s
	}


	.sidenav a:hover, .offcanvas a:focus{
		color: #f1f1f1;
	}
	.sidenav a:visited{
		color: #EAC67A;
	}

	#page_content_all_movies{
		width: 100%;
		margin-left: 0;
	}
	#all_movies li a{
		font-size: 15px;
		font-family: "Custom";

	}
	#all_movies li{
		font-size: 15px;
		font-family: "Custom";

	}

	.footer{
		font-size: 10px;
		position: fixed;
		right: 0;
		bottom: 0;
		left: 0;
		height: 1%;
		text-align: center;
		background-color: #18121E;
		width: 100%;
		padding-bottom: 10px;
	}

	.headline_index{
		font-size: 20px;
		padding-top: 10%;
		text-align: center;
		color: #EAC67A;
		font-family: "Custom";
	}
	
	.frontpage_genre{
		font-family: "Custom";
		font-size: 15px;
		padding-left: 5%;
		text-align: center;
		color: #EAC67A;
	}

	.home_header{
		display: block;
		font-size: 25px;
		margin-top: 0.67em;
		margin-bottom: 0.67em;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
		color: #EAC67A;
		text-decoration: none;
	}

	.rutiner{
		color: #EAC67A;
		font-family: "Custom";
		font-size: 15px;
		margin-left: 20%;
	}

	#advanced_search{
		width: 75%;
		height: 1000px;
		margin-left: 9%;
	} 

	.tab{
		font-family: "Custom";
		color:#EAC67A;
		font-size: 15px;
	}
	.tab:hover{
		cursor: pointer;
	}

	#thumbnail_movie{
	height: 190px;
	margin-bottom: 50px;
	width: 140px;
	border: 2px solid #EAC67A;
	box-shadow: 10px 10px 20px  black;
	}

	/* The side navigation menu */
	#mySidenav{
		margin-top: 20%;
	}
	.sidenav {
	    height: 89%; /* 100% Full-height */
	    width: 0; /* 0 width - change this with JavaScript */
	    position: fixed; /* Stay in place */
	    z-index: 1; /* 90ay on top */
	    top: 0;
	    left: 0;
	    background-color: #18121E; /* Black*/
	    overflow-x: hidden; /* Disable horizontal scroll */
	    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	   	box-shadow: 0px 10px 20px black;
	   	border-radius: 5px;
	}

	.sidenav .closebtn {
	    position: absolute;
	    top: 0;
	    right: 25px;
	    font-size: 36px;
	    margin-left: 50px;
	}
	/*Linkene i sidemenyen */
	.sidenav a {
	    padding: 8px 8px 8px 32px;
	    text-decoration: none;
	    font-family: "Custom";
	    font-size: 15px;
	    color: #EAC67A;
	    display: block;
	    transition: 0.3s
	}


	.sidenav a:hover, .offcanvas a:focus{
	    color: #f1f1f1;
	}
	.sidenav a:visited{
		color: #EAC67A;
	}

	#trailerBox{
		width: 300px;
		margin-left: 0;
	}

	#trailer p{
		width: 100px;
	}
	#review{
		width: 200px;
		margin-left: 20%;
	}
	#description{
		width: 80%;
	}













}