/* Magnus Rambech */
/* Portrait */
@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 736px) 
 { 
 	/* Header */
	.header_headline{
		font-size: 15px;
		margin-top: 5px;
		padding: 0;
		text-align: center;
	}
	.search{
		width: 50px;
	}
	.search_text{
		width: 50px;
	}
	#searchButton{
		visibility: hidden;
	}

	.load_login_button{
		margin-top: 55px;
	}

	/* Body */
	body{
		padding-bottom: 40px;
	}
	.body_frontpage{
	background-color: gray;
	padding-bottom: 0;
	}
	.frontpage_genre{
		text-align: center;
	}
	.movie_list{
		margin-left: 5%;
		margin-right: 0px;
		width: 355px;
		height: 1220px;
	}
	#movies{
		height: 250px;
		width: 50%;
		margin-right: ;
		margin-bottom: 40px;

	}
	.thumbnails_frontpage{
		width:90%;
		height:90%;
	}
	.thumbnails_frontpage:hover{
		width:90%;
		height:90%;
	}
	.movie_titles{
		font-size: 18px;
		width: 90%;
		text-align: center;
		margin-top: 5px;
		margin-bottom: 0px;
	}


	/* Filmsider */
	.header_movies{
		margin-left: 0%;
		width: 646px;
	}
	.body_movies{
		background-color: lightgray;
		height: 100%;
		width: 100%;
		margin-left: 0%;
		margin-right: 0%;
		margin-top: 84px;
		border: 2px solid orange;
	}
	.gradient{
		margin: 0;
		width: 100%;
	}

	.slideshow{
		width: 100%;
		height: auto;
	}
	#main{
		height: auto;
		width: 100%;
	}
	#mins{
		width: 100%;
	}
	#min1{
		height: auto;
		width: 50%
	}
	#min2{
		height: auto;
		width: 50%
	}