/* Magnus Rambech */
/* Portrait */
@media only screen 
  and (min-device-width: 700px) 
  and (max-device-width: 1060px) 
 { 
 	/* Header */

	#header{
		width: 100%;
	}
	.header_headline{
		font-size: 15px;
		margin-top: 5px;
		margin-left: 50px;
		padding: 0;
		text-align: center;
	}
	.search{
		width: 50px;
	}
	.search_text{
		width: 50px;
	}
	#searchButton{
		visibility: hidden;
	}

	.load_login_button{
		margin-top: 55px;
		margin-right: 50px;
	}

	/* Body */
	body{
		padding-bottom: 40px;
	}
	.body_frontpage{
	background: gray;
	padding-bottom: 0;
	}
	.frontpage_genre{
		text-align: center;
	}
	.movie_list{
		width: 100%;
		height: 1420px;
		margin-left: 2%;

	}
	#movies{
		height: 400px;
		width: 253px;
		margin-right: ;
		margin-bottom: 40px;

	}
	.thumbnails_frontpage{
		width:90%;
		height:90%;
	}
	.thumbnails_frontpage:hover{
		width:90%;
		height:90%;
	}
	.movie_titles{
		font-size: 20px;
		width: 90%;
		text-align: center;
		margin-top: 5px;
		margin-bottom: 0px;
	}

