/*CSS-fil til prosjekt info134 
Skrevet av gux006, rut005, tkv015 */

/* body diven til startsiden */
.body_frontpage{
	background-color: #4d4d4d;
	width: 100%;
}

/* Body diven til filmsidene. */
.body_movies{
	background-color: Lightgrey;
	height: 100%;
	width: 50%;
	margin-left: 25%;
	border: 2px solid orange;
}

/* filmtittel på startside. */
.movie_titles{
	color: orange;
	margin-bottom: 50px;
	text-align: center;
	margin-right: 15px;
}

/* bildene på startsiden og filmsider */ 

.thumbnails_frontpage{
	height: 300px;
	width: 210px;
	border:2px solid black;

}
.thumbnails_frontpage:hover{
	cursor: pointer;
    height:310px;
    width: 220px;
}
/* bilder på startsiden og filmsider slutt */

/* Overskrift alle filmsider. */
.headlines{
	margin:0;
	text-align: center;
	padding-top: 20px;
}

/* footer tekst */
.sub_headlines{
	font-size: 12px;
	color: orange;
	margin: 0;
	margin-top: 0;
}

/* Logo i header */
.header_headline{
	text-decoration: none;
	color: orange;	
	padding-right: 135px;
	font-family: "Custom";
}

/* link til forsiden. */
.home_header{
	text-decoration: none;
}

.home_header:hover{
	cursor: pointer;
	color: white;
}
/* link til forsiden slutt. */

/* footer startside */
.footer{
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	height: 40px;
	text-align: center;
	background-color: #0d0d0d;
}

/* footer filmsider */
.footer_movies{
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	margin-left: 25%;
	height: 40px;
	text-align: center;
	background-color: #0d0d0d;
	width: 50%;
	border-right: 2px solid orange;
	border-left: 2px solid orange;
}


.rutiner{
	margin-left: 35%;
}


/* tabell på filmsider */
.movie_info{
	border: 1px solid orange;
	background: #a6a6a6;
	width: 95%;
}

/* rating på filmsider */
.rating{
	width: 80%;
	padding: 5px;
	display: inline-block;
	border: 1px solid orange;
	text-align: center;
	background: #a6a6a6;
	margin-left: 10%;
}


/* trailer på filmsider */
.trailer{
	margin-left: -10px;
	border: 1px solid orange;
}

/* Overskrift startside */
.headline_index{
	margin-top: 100px;
	text-align: center;
	color: orange;
	font-family: "Custom";
}

/* de forskjellige kategoriene på forsiden */
.frontpage_genre{

	color: orange;
}


.link_text{
	font-size: 20px;
	color:orange;
	text-decoration: none;
}
.login{
	padding-top: 40px;
}

.movie_list{
	margin-left: 50px;
	height: 500px;
	width: auto;
}

.search_text{
	margin-top: 25%;
	margin-left: 5px;
}
.load_login_button{
	margin-top: 55px;
	margin-right: 5px;
}

/* bilde og forskjellige diver til filmsidene. */
.movie_img{
	height: 440px;
	width: 330px;
}
.movie_page{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.page_container{
	display: flex;
}

.right_side{
	flex: 1;
	padding: 1rem;
	text-align: left;
	width: 50%;
}

.left_side{
	flex: 1;
	padding: 1rem;
	width: 40%;
}

/* header til filmsidene */
.movie_header{
	font-size: 1.75rem;
	font-family: "Custom";
}

.header_movies{
	display: flex;
	justify-content: space-between;
	background-color: #0d0d0d;
	position: fixed;
	width: 50%;
	height: 80px;
	top:0;
	z-index: 1;
	margin-left: 25%;
	border: 2px solid orange;
}
/* header til filmsidene slutt */

body{
	background-color: #4d4d4d;
	margin:0;
	margin-top: 80px;
	min-height: 100%;
	padding-bottom: 40px;
	
}

/* linker */
a{
	text-decoration: none;
}

a:hover{
	font-weight: bold;
	color: #ff9933;
}
a:visited{
	font-weight: bold;
	color: #ff9933;
}
/* linker slutt */

/* linker skuespillere */
.actors{
	text-decoration: none;
	color: black;
	display: inline-block;
	margin:0;
}

.actors:hover{
	font-weight: bold;
}

.actors:visited{
	color: green;
}
/* linker skuespillere slutt */

table {
    border-spacing: 10px 10px;
}

iframe {
	margin-left: 2rem;
}

#summary_movie{
	margin-top: 0;
	text-align: left;
	width: 95%;
	font-size: 17px;
	border: 1px solid orange;
	padding: 5px;
	line-height: 130%;
	background: #a6a6a6;
}
#summary_button{
	margin-top: 1%;
}

#movies{	
	float:left; 
	display:inline;
	height: 320px;
	width: 230px;
	margin-bottom: 80px;
}

/* header startside */
#header_index{
	display: flex;
	justify-content: space-between;
	background-color: #0d0d0d;
	position: fixed;
	width: 100%;
	height: 80px;
	top:0;
	z-index: 1;
	box-shadow: 0px 5px 20px  orange;
	font-family: "Custom";
}

/* understrek på overskrifter */
#sexy_line{
    margin: 25px 0;
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#4d4d4d), to(#4d4d4d), color-stop(50%, orange));
}
#sexy_line_movies{
	margin-top: 0;
	margin-bottom: auto;
    height: 1px;
    width: 70%;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(LightGrey), to(LightGrey), color-stop(50%, orange));
    margin-left: 15%;
}




/* font til alle sider */
@font-face{
	font-family: "Custom";
	src:url(raleway_thin-webfont.ttf);
}



/*
	Bilde slideshow
*/
.body_bilder{
	margin-top: 100px;
}
#min1{
	height: 200px;	
	width: 	150px;
}

#min2{
	height: 200px;	
	width: 	150px;

}

#min3{
	height: 200px;	
	width: 	100%;
}
.min{
	border: 2px solid orange;
	display: inline-block;
	width: 150px;
}

#main{
	margin-left: 2%;
	height: 400px;
	width: 300px;
	border:2px solid orange;

}
#main_picture{
	width: 100%;
}
#mins{
	flex-flow: row-wrap;
	display: inline-block;
}
.slideshow{
	width: 400px;
	height: 650px;
	text-align: center;
}

.gradient{
	background: linear-gradient(to top, #4d4d4d , gray);
}